body{
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}
.box{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
#box1{
    text-align: center;
    text-shadow: 1px 2px 3px red ;
    font-size: 20px;
    font-weight:bold;
    background-color: rgb(216, 210, 210);
    margin: 100px;
    padding: 100px;
    width: 400px;
    height: 100px;
    border: 50px solid rgb(13, 0, 128);
    border-radius: 10px;
    box-shadow: 4px 4px 10px 10px red ;
}